<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="KafkaAppender" type="log4net.Kafka.KafkaAppender, log4net.Kafka">
		<KafkaSettings>
			<brokers>
				<add value="http://10.57.115.229:9092" />
			</brokers>
			<topic type="log4net.Layout.PatternLayout">
				<!--<conversionPattern value="erp.samples.%level" />-->
				<conversionPattern value="erp.shgt.logs" />
			</topic>
		</KafkaSettings>

		<!--<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d [%t] %-5p %c %m%n" />
		</layout>-->
		<layout type="log4net.Kafka.LogstashLayout,log4net.Kafka" >
			<app value="erp.logs" />
		</layout>
	</appender>
	<root>
		<level value="DEBUG"/>
		<appender-ref ref="KafkaAppender" />
	</root>
</log4net>